server {
    listen {{ server_port }} default_server;
    server_name {{ server_name }};

    location / {
    {% if server_ssl_port == 443 %}
        rewrite ^ https://$http_host$request_uri? permanent;  # force redirect http to https
    {% else %}
        rewrite ^ https://$http_host:{{ server_ssl_port }}$request_uri? permanent;  # force redirect http to https
    {% endif %}
    }
    location /.well-known/ {
        # file per challenge letsencrypt
        alias /var/www/html/.well-known/;
    }
}

server {
    listen {{ server_ssl_port }} ssl;
    server_name {{ server_name }};

    ssl_certificate     /etc/letsencrypt/live/{{ server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server_name }}/privkey.pem;

    location / {
        # django
        uwsgi_pass unix:///run/uwsgi/app/{{ uwsgi_config_filename }}/socket;
        include uwsgi_params;
        uwsgi_read_timeout 300s;
        client_max_body_size {{ nginx_client_max_body_size }};
    }
    location /static/ {
        # file statici
        alias {{ static_dir }}/; # ending slash is required
    }
    location /media/ {
        # file media caricati dall'utente
        alias {{ media_dir }}/; # ending slash is required
    }
    location /.well-known/ {
        # file per challenge letsencrypt
        alias /var/www/html/.well-known/;
    }
}
